<h1>About us</h1>

<div class="row">
    <div class="col-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam cumque, reiciendis expedita commodi sapiente dignissimos? Similique cupiditate debitis minima soluta optio accusamus voluptate vero illum, sit qui quibusdam repellat quaerat!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti illo excepturi labore, mollitia delectus autem exercitationem nostrum corrupti officiis quas quis maxime voluptatum. Provident laudantium necessitatibus assumenda, officia nam eaque?</p>
        <a href="img/screenshot.png"><img src="img/screenshot.png" class="img-fluid" alt="Responsive image"></a>

    </div>

    <div class="col-6 aligner">
        <img src="img/captain-america.png" class="img-fluid aligner-item" alt="Responsive image">
    </div>

</div>
