
        <div class="jumbotron">
            <h1 class="display-4">Hello, {{user}}!</h1>
            <p class="lead">This is a simple test app using ExpressJS, express-handlebars and nodeJS with love <i style="color: red"class="fas fa-heart"></i>.</p>
            <hr class="my-4">
            <p>Feel free to explore all code.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="https://github.com/cristiancosano/sample-nodejs-web-app" role="button"> <i class="fab fa-github mr-2"></i>Git Hub</a>
            </p>
        </div>
    </div>

