footer{
    background-color: #343a40;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .aligner-item {
    max-width: 50%;
  }